.cart_space_cont{
    width: 100%;
    display: flex;
   justify-content: flex-end;
   
.cart_space{
  -ms-overflow-style: none;
   scrollbar-width: none;
   overflow: scroll;
   max-height: 30%;
   height: auto;
   width: 150px;
   position: fixed;
   z-index: 1;
   text-align: center;
   margin-right: 3rem;
   background-color: #fff;
   box-shadow:  0 20px 25px 5px rgba(70, 69, 69, 0.1), 0 8px 10px 6px rgb(70, 69, 69, 0.1);
}
button{
    background-color: rgb(13, 207, 13);
    margin: 10px 5px;
    border-style: none;
    color: #fff;
    width: 80%;
    padding: 4px;
    position: relative;
}
}